.ipynb_checkpoints/sentiment_rnn_explained-checkpoint.ipynb
.ipynb_checkpoints/sentiment_rnn_explained-checkpoint.ipynb
checkpoints/sentiment.ckpt.data-00000-of-00001
checkpoints/sentiment.ckpt.meta
checkpoints/sentiment.ckpt.index